---
import '../styles/global.css';
import Home from '../components/home.astro';
import Themeicon from '../components/themeicon.astro';

const pageTitle = "swaysway";
const description = "Blogs, Works and stuff";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg?" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<meta property="og:title" content={pageTitle} />
		<meta property="og:description" content={description} />
		<title>{pageTitle}</title>
	</head>
	<header class="py-8 px-6 bg-gray-100 dark:bg-gray-900">
		<nav class="flex justify-end">
			<Themeicon />
		</nav>
	</header>	
	</header>	
	<body>
		<Home />
	</body>
</html>